---
import PersonalBar from './PersonalBar.astro';
---

<header class="py-4 shadow-sm bg-white">
	<div class="container flex items-center justify-between">
		<a href="index.html">
			<img src="../assets/images/logo.svg" alt="Logo" class="w-32" />
		</a>

		<div class="w-full max-w-xl relative flex">
			<span class="absolute left-4 top-3 text-lg text-gray-400">
				<i class="fa-solid fa-magnifying-glass"></i>
			</span>
			<input
				type="text"
				name="search"
				id="search"
				class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none"
				placeholder="search"
			/>
			<button
				class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition"
				>Search</button
			>
		</div>

		<div class="flex items-center space-x-4">
			<PersonalBar />
		</div>
	</div>
</header>
