---
import { Aside } from '@astrojs/starlight/components';

export type Props = {
	stableUrl?: string;
};

const { slug, entry } = Astro.locals.starlight;
const { packageName } = entry.data;

const stableUrl = Astro.props.stableUrl
	? new URL(Astro.props.stableUrl, 'https://inox-tools.fryuni.dev')
	: `https://inox-tools.fryuni.dev/${slug}`;
---

<Aside title="BETA">
	This page documents the beta version of&nbsp;<code>{packageName}</code> that is compatible with Astro
	5 and Vite 6, both still in beta. To use this package with the stable version of Astro and Vite (4
	and 5 respectively) look at the <a href={stableUrl}>stable docs for this package</a>.
</Aside>
