---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'a'> & {
	href: string;
};

const { props } = Astro;
---

<a {...props}>
	<slot />
</a>
<style>
	a {
		color: var(--sl-color-white) !important;
		text-decoration: none;
	}
</style>
