---
import { getPackageVersion } from '@/utils/package-versions';

export interface Props {
	pkgName: string;
}

const { pkgName } = Astro.props as Props;

const version = await getPackageVersion(pkgName);
---

<span>v{version}</span>
